server:
  port: 8082

spring:
  application:
    name: account-service

  security:
    oauth2:
      resourceserver:
        jwt:
          # Spring Boot'un token imzasını doğrulamak için Keycloak'un açık anahtarlarını alacağı adres
          jwk-set-uri: http://localhost:8080/realms/orion-realm/protocol/openid-connect/certs